# dependencies
/node_modules

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# testing / e2e
/coverage
/playwright-report
/test-results
/.playwright

# misc
.DS_Store
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (never commit real secrets)
.env
.env*.local
